@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom bounce animation */
.notiflix-confirm {
  animation: bounce 0.6s ease;
}

@keyframes bounce {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
